
$blue:#0069B4;
$blue-alpha: rgba(0, 125, 250, 0.3);


$light-blue: #E6F0F8;

$brand-color: $blue;
$light-brand-color: $light-blue;

$grey: #DADADA;

$white: #fff;
$black: #000;

$red: red;
$label-color: #999;

$h1-color: $brand-color;
$h2-color: $brand-color;
$link-color: $brand-color;
$link-color-hover: $brand-color;
$link-color-active: $brand-color;
$link-color-visited: lighten($link-color, 10%);
$alternate-row-color: $light-brand-color;
$tr-hover-color: $grey;

$error: $red;

$content-width: 900px;

$sticky-header-color: rgba(0, 89, 151, 0.901);//rgba(0, 106, 179, .90);
$overlay-color: rgba(0, 125, 250, 0.3);

//////////////////////////////////////////////
/// font
//////////////////////////////////////////////
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.1rem;
$font-family: Arial, sans-serif;
//////////////////////////////////////////////
/// line heights
//////////////////////////////////////////////
$default-line-height: 1.5;
$header-line-height: 1;


//////////////////////////////////////////////
/// paths
//////////////////////////////////////////////
$base-path: "https://d177g53udii011.cloudfront.net/redesign2016/";
$path-file: "#{$base-path}images/icons-set/blau/file/";
$path-images: "#{$base-path}images/";
$path-icons: "#{$path-images}icons-set/";
$path-icons-blue: "#{$path-icons}blau/";
$path-icons-white: "#{$path-icons}weiss/";

//////////////////////////////////////////////
/// breakpoints
//////////////////////////////////////////////
// min-width
$small: 480px; // smartphone min landscape
$end-small: 767px;
$start-medium: 768px;
$end-medium: 1024px;
//$from-medium: $start-medium;

$medium: $start-medium $end-medium; //50em; // 800px; => styleguide 600-899?

$large: 1025px; //64em; //1024px;

$xlarge: 1300px;

$xxlarge: 1500px;

$pad-r-mq-large: 100px;
//////////////////////////////////////////////
/// imports
//////////////////////////////////////////////
@import "./components/functions";
@import "./components/mixins";

@import "./breakpoint/breakpoint";
@import "./susy/susy";

//////////////////////////////////////////////
/// susy
//////////////////////////////////////////////

$susy:(
columns:12,
global-box-sizing: border-box,
gutters: 1/2,
container: auto,
debug: (image: hide)
);
